
.CommonPageStyle{
    width:740px;
    background-color:white;
    padding:5em 2em 10em 2em;
    margin:0 auto 0 auto;
    border:1px solid black;
    text-align: center;
    font-size: 2em;
    box-shadow: 5px 5px 5px 5px #dddddd, -5px 5px 5px 5px #dddddd;
}

@media only screen and (max-width: 740px) {
    .CommonPageStyle {
      width: 100%;
      padding:5em 2em 6em 2em;
    }
  }
